body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffb2002e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5em;
}

#instruction1, #instruction2 {
    font-size: 1.2em;
    color: #555;
}

#objectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.object {
    padding: 10px;
    background-color: #ff8800;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#letters {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
    color: #28a745;
}

input {
    padding: 10px;
    font-size: 1em;
    width: 80%;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #28a745;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #d800f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #c100d8;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#score {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}